.row{
    width: 100%;
    height: 40px;
    background-color: #000000;
}
.row-col1{
    width: 70%;
    height: 40px;
    float: left;
}
.row-col2{
    width: 30%;
    height: 40px;
    float: left;
    color:aliceblue;
    font-size: 37px;
   font-weight: bold;

}
.row2{
    width: 100%;
    height: 70px;
    background-color: #000000;
}
.form{
    width: 100%;
    height: 380px;
    color: aliceblue;
}
.row1{
    width: 100%;
    height: 380px;
    background-color: #000000;
}
.row1-col3{
    width: 35%;
    height: 380px;
    float: left;
}
.row1-col1{
    width: 30%;
    height: 380px;
    float: left;
}
.row1-col2{
    width: 35%;
    height: 380px;
    float: left;
}
#row3{
    width: 100%;
    height: 10px;
background-color: black;
}