.row{
    width: 100%;
    height: 50px;
    background-color: #000000;
}
.row-col1{
    width: 70%;
    height: 50px;
    float: left;
}
.row-col2{
    width: 30%;
    height: 50px;
    float: left;
    color:aliceblue;
    font-size: 40px;
   font-weight: bold;

}
.row1{
    width: 100%;
    height: 310px;
    background-color: #000000;
}
.row1-col1{
    width: 20%;
    height: 300px;
    float: left;
   
}
.row1-col2{
    width: 80%;
    height: 300px;
    float: left;
}
.col1-r1{
    width: 100%;
    height: 240px;
    
}

.col2-r2{
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 70px;
    color: aliceblue;
}
.row3{
    width: 100%;
    height: 420px;
    background-color: #0c9cf6;
    font-size: 40px;
}
.row3-col1{
    width: 30%;
    height: 300px;
    float: left;
}
.row3-col2{
    width: 70%;
    height: 110px;
    float: left;
}
#row6{
    width: 100%;
    height: 10px;
background-color: black;
}